flow.json
[
    {
        "id": "099b2475ef64758f",
        "type": "tab",
        "label": "Enrique",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ddadc3a392cfe95",
        "type": "tab",
        "label": "Teo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9007e14c5bdddbd1",
        "type": "tab",
        "label": "Laybet",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c53e2699a5e9d13",
        "type": "group",
        "z": "099b2475ef64758f",
        "name": "Datos Ambientales",
        "style": {
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "90ef093dedf4837c",
            "1e3adba6ba166433",
            "7f372ae8421099a1",
            "bda292aba1946542",
            "1a342550afd69e46",
            "712bbfd54a05ea20",
            "a5b62dc53528050f",
            "720d5f5ddb70e01c",
            "201b186352651b59",
            "fd65a545c7084e45",
            "afc6e98aa08776dc",
            "80567de1dde59fec"
        ],
        "x": 14,
        "y": 19,
        "w": 592,
        "h": 442
    },
    {
        "id": "2786cfeef397ebf8",
        "type": "group",
        "z": "099b2475ef64758f",
        "name": "Estados",
        "style": {
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "f560e9a6b1a3a4b5",
            "bb18c86588b2a409",
            "1af1d992fa9dc4ad",
            "3978346489edb0b1",
            "cac23f3c81b099be",
            "495e3dc36dde7bac",
            "272f75641bad7235",
            "8086417b960b0ff0",
            "3f6ef883fd8310c9"
        ],
        "x": 634,
        "y": 19,
        "w": 552,
        "h": 282
    },
    {
        "id": "94b40fbea8ca9d67",
        "type": "group",
        "z": "099b2475ef64758f",
        "name": "Lógica Leds",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "1278e602dc1fc77c",
            "43c4f0ded09ab579",
            "78f20ddbecfe7458",
            "1dd13c64019055d4",
            "4014009e81bb9bcd",
            "c6ebba5b4d5f6159",
            "dbd827b3da259faf",
            "cdb2b2cf62700ae5",
            "cd0b849668ca9d09",
            "e51ace374f2e9920",
            "0436966989094782",
            "4ccf7eea739e7fae"
        ],
        "x": 134,
        "y": 499,
        "w": 812,
        "h": 262
    },
    {
        "id": "7f80b691e96741a9",
        "type": "group",
        "z": "099b2475ef64758f",
        "name": "Contador",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "efc53ad71871c429",
            "cd71bb17ae70c602",
            "3b3ee48f3da98aa0",
            "4936f2b2952f8a08",
            "c62a0517c5edaead",
            "59cc5b208874e116"
        ],
        "x": 14,
        "y": 799,
        "w": 872,
        "h": 142
    },
    {
        "id": "573ddf8764497146",
        "type": "group",
        "z": "099b2475ef64758f",
        "name": "Guardar en BBDD",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "b32235d8f4b07bd7",
            "8097f988a3920483",
            "ed70ffae9326e616",
            "e44e9871c24e9760"
        ],
        "x": 14,
        "y": 959,
        "w": 912,
        "h": 122
    },
    {
        "id": "f92bc901810c53d7",
        "type": "group",
        "z": "0ddadc3a392cfe95",
        "name": "Datos Ambientales",
        "style": {
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "b4e62f29645bc801",
            "49f1b8fbd052cc89",
            "c9ac39c8618df581",
            "b2b614ca17fee8c0",
            "03256d6af6aa95e3",
            "28ccc515778b24bd",
            "d25d9ec6330771c7",
            "d5a4d92f91dac25f",
            "db32df8dc1c6ec19",
            "7b576b8f95406fe9",
            "52a4bf744af9def4",
            "e92f0e5c261096ab"
        ],
        "x": 14,
        "y": 19
    },
    {
        "id": "15d943f16caee227",
        "type": "group",
        "z": "0ddadc3a392cfe95",
        "name": "Estados",
        "style": {
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "1f1f05b7a52bf049",
            "6d2c379d23e88a3f",
            "35523ecb43dc9935",
            "120161e9218bf9b4",
            "577037d611bb6446",
            "d571b2aad75f2264",
            "1eac1779678af483",
            "9e35ad7364110d77",
            "466ec4ee14c472bf"
        ],
        "x": 634,
        "y": 19
    },
    {
        "id": "cb1e166106ee33fc",
        "type": "group",
        "z": "0ddadc3a392cfe95",
        "name": "Lógica Leds",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "a47c12ab8c572e78",
            "77f08266038c9982",
            "a293f5d5eff73e63",
            "d0fbbe97e5d1f602",
            "527579944ca3e166",
            "d585eef2da85c642",
            "b33efc0c37dbd13e",
            "4a707f2cfe11b8e1",
            "f9992f2881cb5ee1",
            "f23b69ce1adf7e34",
            "5f9e00fdfbe07c0d",
            "121aa43c338c3c27"
        ],
        "x": 134,
        "y": 499
    },
    {
        "id": "4635e0b6f82db501",
        "type": "group",
        "z": "0ddadc3a392cfe95",
        "name": "Contador",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "8e5467f5e11f64d8",
            "42316b727ed5fc14",
            "2f19404b50b579b5",
            "c7a7ed22685a25fd",
            "0a3bd4938e551204",
            "b47dbd3fa267afef"
        ],
        "x": 14,
        "y": 799
    },
    {
        "id": "07ccf3dcff7dde62",
        "type": "group",
        "z": "0ddadc3a392cfe95",
        "name": "Guardar en BBDD",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "8c7849c4573ac303",
            "a4e85233502d1187",
            "399efe21c8cac661",
            "9c0f077de8003304"
        ],
        "x": 14,
        "y": 959
    },
    {
        "id": "2384be9d29cafe67",
        "type": "group",
        "z": "9007e14c5bdddbd1",
        "name": "Datos Ambientales",
        "style": {
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "7ee589268c4df6e8",
            "68330bc39f61f9a8",
            "21a36a4294b35460",
            "69259a7868652932",
            "927edabd6dc86bdf",
            "0894242b5ce2fc46",
            "01b70b31f5284d27",
            "2545df3440b9964a",
            "b551c2a6cc829ff0",
            "3a369d38e4c30e89",
            "ffe4ca5ef013cde6",
            "157c8ef044050df0"
        ],
        "x": 14,
        "y": 19
    },
    {
        "id": "61b92c33227f1472",
        "type": "group",
        "z": "9007e14c5bdddbd1",
        "name": "Estados",
        "style": {
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "1e5c5eab51b94fa8",
            "ec5bf99c71fc2f4c",
            "982682f47c00e01b",
            "3f710e44efbda441",
            "789931945895f896",
            "bf52fb52fb1d6566",
            "06b7860eb407ecd2",
            "d47050bcb6bad12a",
            "1066e7c3e06487ea"
        ],
        "x": 634,
        "y": 19
    },
    {
        "id": "e206f9e4065ce243",
        "type": "group",
        "z": "9007e14c5bdddbd1",
        "name": "Lógica Leds",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "7250c754c2683b61",
            "72e6a90d8e9dcbfd",
            "8666a2d694903ab1",
            "99ea831974ce7c5f",
            "f9e9c56ce242eec8",
            "7d8833d6d6cdb0c1",
            "22edfcd6386bca6f",
            "4c5209c8ac9babd7",
            "9694314e26bf9cfa",
            "f1c8f991879cc5a9",
            "6cba8af14236b0dc",
            "64fd22f2aa640bd3"
        ],
        "x": 134,
        "y": 499
    },
    {
        "id": "7034096bc0b125e9",
        "type": "group",
        "z": "9007e14c5bdddbd1",
        "name": "Contador",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "911197635ae17d0e",
            "a14c155d2f05f8e7",
            "9cea06475349a8c3",
            "6d0f5ebc4783cc14",
            "3062ebd81b8e86a9",
            "506c81b5ed1aad3c"
        ],
        "x": 14,
        "y": 799
    },
    {
        "id": "51bb0170c8339b2f",
        "type": "group",
        "z": "9007e14c5bdddbd1",
        "name": "Guardar en BBDD",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "e1f2e41b2956fc0b",
            "57a3896212fc17a8",
            "03c598ab7cb79a4b",
            "76c61253af5f5f03"
        ],
        "x": 14,
        "y": 959
    },
    {
        "id": "32b45af9a263ab01",
        "type": "mqtt-broker",
        "name": "",
        "broker": "aprendiendonodered.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1cd924a9d4337a3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6d3a289e6339ce84",
        "type": "ui_tab",
        "name": "Curso 5G - Enrique",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ea5a4b1e55395bd8",
        "type": "ui_group",
        "name": "Datos Ambientales",
        "tab": "6d3a289e6339ce84",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8c0ad062a3bbbc7",
        "type": "ui_group",
        "name": "Estados",
        "tab": "6d3a289e6339ce84",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adf9de0bfa5d1172",
        "type": "ui_group",
        "name": "Contador Pulsos",
        "tab": "6d3a289e6339ce84",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe8cb7ea3f6ce3ed",
        "type": "influxdb",
        "hostname": "https://aprendiendonodered.com/",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://aprendiendonodered.com:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "0caf3ae814196e50",
        "type": "ui_tab",
        "name": "Curso 5G - Teo",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "114fa23594ced0d3",
        "type": "ui_tab",
        "name": "Curso 5G - Laybet",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d2d4e5e188b63ae7",
        "type": "ui_group",
        "name": "Estados",
        "tab": "0caf3ae814196e50",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ddb02ab40ec6a67",
        "type": "ui_group",
        "name": "Datos Ambientales",
        "tab": "0caf3ae814196e50",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "49fa5299c109dab1",
        "type": "ui_group",
        "name": "Contador Pulsos",
        "tab": "0caf3ae814196e50",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aba579d46f81eb65",
        "type": "ui_group",
        "name": "Estados",
        "tab": "114fa23594ced0d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da5263e30321526a",
        "type": "ui_group",
        "name": "Datos Ambientales",
        "tab": "114fa23594ced0d3",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2aa21de1eba43db",
        "type": "ui_group",
        "name": "Contador Pulsos",
        "tab": "114fa23594ced0d3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a2b14ecb04f46e4",
        "type": "ui_spacer",
        "z": "099b2475ef64758f",
        "name": "spacer",
        "group": "adf9de0bfa5d1172",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "0bffbe4a45f4f12b",
        "type": "ui_spacer",
        "z": "099b2475ef64758f",
        "name": "spacer",
        "group": "adf9de0bfa5d1172",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "4afbbcb034435c88",
        "type": "ui_spacer",
        "z": "099b2475ef64758f",
        "name": "spacer",
        "group": "49fa5299c109dab1",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "90c6987f5e079629",
        "type": "ui_spacer",
        "z": "099b2475ef64758f",
        "name": "spacer",
        "group": "49fa5299c109dab1",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "2ea623ca3b644d60",
        "type": "ui_spacer",
        "z": "099b2475ef64758f",
        "name": "spacer",
        "group": "d2aa21de1eba43db",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "af34638acfcbdc61",
        "type": "ui_spacer",
        "z": "099b2475ef64758f",
        "name": "spacer",
        "group": "d2aa21de1eba43db",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "90ef093dedf4837c",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "43c4f0ded09ab579",
                "1e3adba6ba166433",
                "7f372ae8421099a1",
                "bda292aba1946542"
            ]
        ]
    },
    {
        "id": "1e3adba6ba166433",
        "type": "debug",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "efc53ad71871c429",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "7f80b691e96741a9",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/pulsador",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "cd71bb17ae70c602"
            ]
        ]
    },
    {
        "id": "f560e9a6b1a3a4b5",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "bb18c86588b2a409",
                "1af1d992fa9dc4ad"
            ]
        ]
    },
    {
        "id": "bb18c86588b2a409",
        "type": "debug",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "7f372ae8421099a1",
        "type": "ui_gauge",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "group": "ea5a4b1e55395bd8",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "21",
        "seg2": "22",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "bda292aba1946542",
        "type": "ui_chart",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "group": "ea5a4b1e55395bd8",
        "order": 4,
        "width": 3,
        "height": 3,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1a342550afd69e46",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "712bbfd54a05ea20",
                "a5b62dc53528050f",
                "720d5f5ddb70e01c"
            ]
        ]
    },
    {
        "id": "712bbfd54a05ea20",
        "type": "debug",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5b62dc53528050f",
        "type": "ui_gauge",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "group": "ea5a4b1e55395bd8",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "className": "",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "720d5f5ddb70e01c",
        "type": "ui_chart",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "group": "ea5a4b1e55395bd8",
        "order": 5,
        "width": 3,
        "height": 3,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "201b186352651b59",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/iluminacion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "fd65a545c7084e45",
                "afc6e98aa08776dc",
                "80567de1dde59fec",
                "78f20ddbecfe7458"
            ]
        ]
    },
    {
        "id": "fd65a545c7084e45",
        "type": "debug",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "afc6e98aa08776dc",
        "type": "ui_gauge",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "group": "ea5a4b1e55395bd8",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Iluminacion",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "500",
        "seg2": "600",
        "className": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "80567de1dde59fec",
        "type": "ui_chart",
        "z": "099b2475ef64758f",
        "g": "5c53e2699a5e9d13",
        "name": "",
        "group": "ea5a4b1e55395bd8",
        "order": 6,
        "width": 3,
        "height": 3,
        "label": "Iluminacion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1af1d992fa9dc4ad",
        "type": "ui_led",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "order": 1,
        "group": "c8c0ad062a3bbbc7",
        "width": 0,
        "height": 0,
        "label": "Estado Arduino",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "KO",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "OK",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 60,
        "wires": []
    },
    {
        "id": "3978346489edb0b1",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/ledrojo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "cac23f3c81b099be",
                "495e3dc36dde7bac"
            ]
        ]
    },
    {
        "id": "cac23f3c81b099be",
        "type": "debug",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "495e3dc36dde7bac",
        "type": "ui_led",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "order": 2,
        "group": "c8c0ad062a3bbbc7",
        "width": 0,
        "height": 0,
        "label": "Led Rojo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "272f75641bad7235",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/ledamarillo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "8086417b960b0ff0",
                "3f6ef883fd8310c9"
            ]
        ]
    },
    {
        "id": "8086417b960b0ff0",
        "type": "debug",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "3f6ef883fd8310c9",
        "type": "ui_led",
        "z": "099b2475ef64758f",
        "g": "2786cfeef397ebf8",
        "order": 3,
        "group": "c8c0ad062a3bbbc7",
        "width": 0,
        "height": 0,
        "label": "Led Amarillo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "1278e602dc1fc77c",
        "type": "mqtt out",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/ledrojo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "43c4f0ded09ab579",
        "type": "switch",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "22",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "1dd13c64019055d4"
            ],
            [
                "4014009e81bb9bcd"
            ]
        ]
    },
    {
        "id": "78f20ddbecfe7458",
        "type": "switch",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 640,
        "wires": [
            [
                "dbd827b3da259faf"
            ],
            [
                "cdb2b2cf62700ae5"
            ]
        ]
    },
    {
        "id": "1dd13c64019055d4",
        "type": "change",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "0436966989094782"
            ]
        ]
    },
    {
        "id": "4014009e81bb9bcd",
        "type": "change",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "0436966989094782"
            ]
        ]
    },
    {
        "id": "c6ebba5b4d5f6159",
        "type": "mqtt out",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/ledamarillo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "dbd827b3da259faf",
        "type": "change",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "4ccf7eea739e7fae"
            ]
        ]
    },
    {
        "id": "cdb2b2cf62700ae5",
        "type": "change",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "4ccf7eea739e7fae"
            ]
        ]
    },
    {
        "id": "cd71bb17ae70c602",
        "type": "counter",
        "z": "099b2475ef64758f",
        "g": "7f80b691e96741a9",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "1",
        "x": 460,
        "y": 840,
        "wires": [
            [
                "c62a0517c5edaead"
            ]
        ]
    },
    {
        "id": "3b3ee48f3da98aa0",
        "type": "ui_button",
        "z": "099b2475ef64758f",
        "g": "7f80b691e96741a9",
        "name": "",
        "group": "adf9de0bfa5d1172",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "59cc5b208874e116"
            ]
        ]
    },
    {
        "id": "4936f2b2952f8a08",
        "type": "ui_gauge",
        "z": "099b2475ef64758f",
        "g": "7f80b691e96741a9",
        "name": "",
        "group": "adf9de0bfa5d1172",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "pulsos",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "c62a0517c5edaead",
        "type": "change",
        "z": "099b2475ef64758f",
        "g": "7f80b691e96741a9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 840,
        "wires": [
            [
                "4936f2b2952f8a08"
            ]
        ]
    },
    {
        "id": "59cc5b208874e116",
        "type": "change",
        "z": "099b2475ef64758f",
        "g": "7f80b691e96741a9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "ok",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 900,
        "wires": [
            [
                "cd71bb17ae70c602"
            ]
        ]
    },
    {
        "id": "cd0b849668ca9d09",
        "type": "ui_switch",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "label": "led builtin",
        "tooltip": "",
        "group": "c8c0ad062a3bbbc7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 720,
        "wires": [
            [
                "e51ace374f2e9920"
            ]
        ]
    },
    {
        "id": "e51ace374f2e9920",
        "type": "mqtt out",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/ledbuiltin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "b32235d8f4b07bd7",
        "type": "mqtt in",
        "z": "099b2475ef64758f",
        "g": "573ddf8764497146",
        "name": "",
        "topic": "cursomqtt/enrique_MKR_1500/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "e44e9871c24e9760"
            ]
        ]
    },
    {
        "id": "8097f988a3920483",
        "type": "debug",
        "z": "099b2475ef64758f",
        "g": "573ddf8764497146",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ed70ffae9326e616",
        "type": "influxdb out",
        "z": "099b2475ef64758f",
        "g": "573ddf8764497146",
        "influxdb": "fe8cb7ea3f6ce3ed",
        "name": "",
        "measurement": "Enrique2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aprendiendonodered",
        "bucket": "curso 5G",
        "x": 700,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e44e9871c24e9760",
        "type": "change",
        "z": "099b2475ef64758f",
        "g": "573ddf8764497146",
        "name": "Añade Tags",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"value\":$string(payload)},{\"tag\":topic}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "8097f988a3920483",
                "ed70ffae9326e616"
            ]
        ]
    },
    {
        "id": "0436966989094782",
        "type": "rbe",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "1278e602dc1fc77c"
            ]
        ]
    },
    {
        "id": "4ccf7eea739e7fae",
        "type": "rbe",
        "z": "099b2475ef64758f",
        "g": "94b40fbea8ca9d67",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "c6ebba5b4d5f6159"
            ]
        ]
    },
    {
        "id": "b4e62f29645bc801",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "77f08266038c9982",
                "49f1b8fbd052cc89",
                "c9ac39c8618df581",
                "b2b614ca17fee8c0"
            ]
        ]
    },
    {
        "id": "49f1b8fbd052cc89",
        "type": "debug",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "c9ac39c8618df581",
        "type": "ui_gauge",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "group": "9ddb02ab40ec6a67",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "21",
        "seg2": "22",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "b2b614ca17fee8c0",
        "type": "ui_chart",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "group": "9ddb02ab40ec6a67",
        "order": 4,
        "width": 3,
        "height": 3,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "03256d6af6aa95e3",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "28ccc515778b24bd",
                "d25d9ec6330771c7",
                "d5a4d92f91dac25f"
            ]
        ]
    },
    {
        "id": "28ccc515778b24bd",
        "type": "debug",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "d25d9ec6330771c7",
        "type": "ui_gauge",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "group": "9ddb02ab40ec6a67",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "className": "",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "d5a4d92f91dac25f",
        "type": "ui_chart",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "group": "9ddb02ab40ec6a67",
        "order": 5,
        "width": 3,
        "height": 3,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "db32df8dc1c6ec19",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/iluminacion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "7b576b8f95406fe9",
                "52a4bf744af9def4",
                "e92f0e5c261096ab",
                "a293f5d5eff73e63"
            ]
        ]
    },
    {
        "id": "7b576b8f95406fe9",
        "type": "debug",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "52a4bf744af9def4",
        "type": "ui_gauge",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "group": "9ddb02ab40ec6a67",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Iluminacion",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "500",
        "seg2": "600",
        "className": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "e92f0e5c261096ab",
        "type": "ui_chart",
        "z": "0ddadc3a392cfe95",
        "g": "f92bc901810c53d7",
        "name": "",
        "group": "9ddb02ab40ec6a67",
        "order": 6,
        "width": 3,
        "height": 3,
        "label": "Iluminacion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1f1f05b7a52bf049",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 100,
        "wires": [
            [
                "6d2c379d23e88a3f",
                "35523ecb43dc9935"
            ]
        ]
    },
    {
        "id": "6d2c379d23e88a3f",
        "type": "debug",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "35523ecb43dc9935",
        "type": "ui_led",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "order": 1,
        "group": "d2d4e5e188b63ae7",
        "width": 0,
        "height": 0,
        "label": "Estado Arduino",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "KO",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "OK",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 60,
        "wires": []
    },
    {
        "id": "120161e9218bf9b4",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/ledrojo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 180,
        "wires": [
            [
                "577037d611bb6446",
                "d571b2aad75f2264"
            ]
        ]
    },
    {
        "id": "577037d611bb6446",
        "type": "debug",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "d571b2aad75f2264",
        "type": "ui_led",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "order": 2,
        "group": "d2d4e5e188b63ae7",
        "width": 0,
        "height": 0,
        "label": "Led Rojo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "1eac1779678af483",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/ledamarillo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "9e35ad7364110d77",
                "466ec4ee14c472bf"
            ]
        ]
    },
    {
        "id": "9e35ad7364110d77",
        "type": "debug",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "466ec4ee14c472bf",
        "type": "ui_led",
        "z": "0ddadc3a392cfe95",
        "g": "15d943f16caee227",
        "order": 3,
        "group": "d2d4e5e188b63ae7",
        "width": 0,
        "height": 0,
        "label": "Led Amarillo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "a47c12ab8c572e78",
        "type": "mqtt out",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/ledrojo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "77f08266038c9982",
        "type": "switch",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "22",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "d0fbbe97e5d1f602"
            ],
            [
                "527579944ca3e166"
            ]
        ]
    },
    {
        "id": "a293f5d5eff73e63",
        "type": "switch",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 640,
        "wires": [
            [
                "b33efc0c37dbd13e"
            ],
            [
                "4a707f2cfe11b8e1"
            ]
        ]
    },
    {
        "id": "d0fbbe97e5d1f602",
        "type": "change",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "5f9e00fdfbe07c0d"
            ]
        ]
    },
    {
        "id": "527579944ca3e166",
        "type": "change",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "5f9e00fdfbe07c0d"
            ]
        ]
    },
    {
        "id": "d585eef2da85c642",
        "type": "mqtt out",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/ledamarillo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "b33efc0c37dbd13e",
        "type": "change",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "121aa43c338c3c27"
            ]
        ]
    },
    {
        "id": "4a707f2cfe11b8e1",
        "type": "change",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "121aa43c338c3c27"
            ]
        ]
    },
    {
        "id": "f9992f2881cb5ee1",
        "type": "ui_switch",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "label": "led builtin",
        "tooltip": "",
        "group": "d2d4e5e188b63ae7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 720,
        "wires": [
            [
                "f23b69ce1adf7e34"
            ]
        ]
    },
    {
        "id": "f23b69ce1adf7e34",
        "type": "mqtt out",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/ledbuiltin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "5f9e00fdfbe07c0d",
        "type": "rbe",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "a47c12ab8c572e78"
            ]
        ]
    },
    {
        "id": "121aa43c338c3c27",
        "type": "rbe",
        "z": "0ddadc3a392cfe95",
        "g": "cb1e166106ee33fc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "d585eef2da85c642"
            ]
        ]
    },
    {
        "id": "8e5467f5e11f64d8",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "4635e0b6f82db501",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/pulsador",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 840,
        "wires": [
            [
                "42316b727ed5fc14"
            ]
        ]
    },
    {
        "id": "42316b727ed5fc14",
        "type": "counter",
        "z": "0ddadc3a392cfe95",
        "g": "4635e0b6f82db501",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "1",
        "x": 460,
        "y": 840,
        "wires": [
            [
                "0a3bd4938e551204"
            ]
        ]
    },
    {
        "id": "2f19404b50b579b5",
        "type": "ui_button",
        "z": "0ddadc3a392cfe95",
        "g": "4635e0b6f82db501",
        "name": "",
        "group": "49fa5299c109dab1",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "b47dbd3fa267afef"
            ]
        ]
    },
    {
        "id": "c7a7ed22685a25fd",
        "type": "ui_gauge",
        "z": "0ddadc3a392cfe95",
        "g": "4635e0b6f82db501",
        "name": "",
        "group": "49fa5299c109dab1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "pulsos",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "0a3bd4938e551204",
        "type": "change",
        "z": "0ddadc3a392cfe95",
        "g": "4635e0b6f82db501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 840,
        "wires": [
            [
                "c7a7ed22685a25fd"
            ]
        ]
    },
    {
        "id": "b47dbd3fa267afef",
        "type": "change",
        "z": "0ddadc3a392cfe95",
        "g": "4635e0b6f82db501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "ok",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 900,
        "wires": [
            [
                "42316b727ed5fc14"
            ]
        ]
    },
    {
        "id": "8c7849c4573ac303",
        "type": "mqtt in",
        "z": "0ddadc3a392cfe95",
        "g": "07ccf3dcff7dde62",
        "name": "",
        "topic": "cursomqtt/TEO_MKR_1500/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "9c0f077de8003304"
            ]
        ]
    },
    {
        "id": "a4e85233502d1187",
        "type": "debug",
        "z": "0ddadc3a392cfe95",
        "g": "07ccf3dcff7dde62",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1000,
        "wires": []
    },
    {
        "id": "399efe21c8cac661",
        "type": "influxdb out",
        "z": "0ddadc3a392cfe95",
        "g": "07ccf3dcff7dde62",
        "influxdb": "fe8cb7ea3f6ce3ed",
        "name": "",
        "measurement": "Teo",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aprendiendonodered",
        "bucket": "curso 5G",
        "x": 680,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9c0f077de8003304",
        "type": "change",
        "z": "0ddadc3a392cfe95",
        "g": "07ccf3dcff7dde62",
        "name": "Añade Tags",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"value\":$string(payload)},{\"tag\":topic}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "a4e85233502d1187",
                "399efe21c8cac661"
            ]
        ]
    },
    {
        "id": "7ee589268c4df6e8",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "72e6a90d8e9dcbfd",
                "68330bc39f61f9a8",
                "21a36a4294b35460",
                "69259a7868652932"
            ]
        ]
    },
    {
        "id": "68330bc39f61f9a8",
        "type": "debug",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "21a36a4294b35460",
        "type": "ui_gauge",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "group": "da5263e30321526a",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "21",
        "seg2": "22",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "69259a7868652932",
        "type": "ui_chart",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "group": "da5263e30321526a",
        "order": 4,
        "width": 3,
        "height": 3,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "927edabd6dc86bdf",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "0894242b5ce2fc46",
                "01b70b31f5284d27",
                "2545df3440b9964a"
            ]
        ]
    },
    {
        "id": "0894242b5ce2fc46",
        "type": "debug",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "01b70b31f5284d27",
        "type": "ui_gauge",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "group": "da5263e30321526a",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "className": "",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "2545df3440b9964a",
        "type": "ui_chart",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "group": "da5263e30321526a",
        "order": 5,
        "width": 3,
        "height": 3,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b551c2a6cc829ff0",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/iluminacion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "3a369d38e4c30e89",
                "ffe4ca5ef013cde6",
                "157c8ef044050df0",
                "8666a2d694903ab1"
            ]
        ]
    },
    {
        "id": "3a369d38e4c30e89",
        "type": "debug",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "ffe4ca5ef013cde6",
        "type": "ui_gauge",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "group": "da5263e30321526a",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Iluminacion",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "500",
        "seg2": "600",
        "className": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "157c8ef044050df0",
        "type": "ui_chart",
        "z": "9007e14c5bdddbd1",
        "g": "2384be9d29cafe67",
        "name": "",
        "group": "da5263e30321526a",
        "order": 6,
        "width": 3,
        "height": 3,
        "label": "Iluminacion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1e5c5eab51b94fa8",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 100,
        "wires": [
            [
                "ec5bf99c71fc2f4c",
                "982682f47c00e01b"
            ]
        ]
    },
    {
        "id": "ec5bf99c71fc2f4c",
        "type": "debug",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "982682f47c00e01b",
        "type": "ui_led",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "order": 1,
        "group": "aba579d46f81eb65",
        "width": 0,
        "height": 0,
        "label": "Estado Arduino",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "KO",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "OK",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 60,
        "wires": []
    },
    {
        "id": "3f710e44efbda441",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/ledrojo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 180,
        "wires": [
            [
                "789931945895f896",
                "bf52fb52fb1d6566"
            ]
        ]
    },
    {
        "id": "789931945895f896",
        "type": "debug",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "bf52fb52fb1d6566",
        "type": "ui_led",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "order": 2,
        "group": "aba579d46f81eb65",
        "width": 0,
        "height": 0,
        "label": "Led Rojo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "06b7860eb407ecd2",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/ledamarillo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "d47050bcb6bad12a",
                "1066e7c3e06487ea"
            ]
        ]
    },
    {
        "id": "d47050bcb6bad12a",
        "type": "debug",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "1066e7c3e06487ea",
        "type": "ui_led",
        "z": "9007e14c5bdddbd1",
        "g": "61b92c33227f1472",
        "order": 3,
        "group": "aba579d46f81eb65",
        "width": 0,
        "height": 0,
        "label": "Led Amarillo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "7250c754c2683b61",
        "type": "mqtt out",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/ledrojo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "72e6a90d8e9dcbfd",
        "type": "switch",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "22",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "99ea831974ce7c5f"
            ],
            [
                "f9e9c56ce242eec8"
            ]
        ]
    },
    {
        "id": "8666a2d694903ab1",
        "type": "switch",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 640,
        "wires": [
            [
                "22edfcd6386bca6f"
            ],
            [
                "4c5209c8ac9babd7"
            ]
        ]
    },
    {
        "id": "99ea831974ce7c5f",
        "type": "change",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "6cba8af14236b0dc"
            ]
        ]
    },
    {
        "id": "f9e9c56ce242eec8",
        "type": "change",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "6cba8af14236b0dc"
            ]
        ]
    },
    {
        "id": "7d8833d6d6cdb0c1",
        "type": "mqtt out",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/ledamarillo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "22edfcd6386bca6f",
        "type": "change",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "64fd22f2aa640bd3"
            ]
        ]
    },
    {
        "id": "4c5209c8ac9babd7",
        "type": "change",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "64fd22f2aa640bd3"
            ]
        ]
    },
    {
        "id": "9694314e26bf9cfa",
        "type": "ui_switch",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "label": "led builtin",
        "tooltip": "",
        "group": "aba579d46f81eb65",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 720,
        "wires": [
            [
                "f1c8f991879cc5a9"
            ]
        ]
    },
    {
        "id": "f1c8f991879cc5a9",
        "type": "mqtt out",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/ledbuiltin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32b45af9a263ab01",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "6cba8af14236b0dc",
        "type": "rbe",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "7250c754c2683b61"
            ]
        ]
    },
    {
        "id": "64fd22f2aa640bd3",
        "type": "rbe",
        "z": "9007e14c5bdddbd1",
        "g": "e206f9e4065ce243",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "7d8833d6d6cdb0c1"
            ]
        ]
    },
    {
        "id": "911197635ae17d0e",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "7034096bc0b125e9",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/pulsador",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "a14c155d2f05f8e7"
            ]
        ]
    },
    {
        "id": "a14c155d2f05f8e7",
        "type": "counter",
        "z": "9007e14c5bdddbd1",
        "g": "7034096bc0b125e9",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "1",
        "x": 460,
        "y": 840,
        "wires": [
            [
                "3062ebd81b8e86a9"
            ]
        ]
    },
    {
        "id": "9cea06475349a8c3",
        "type": "ui_button",
        "z": "9007e14c5bdddbd1",
        "g": "7034096bc0b125e9",
        "name": "",
        "group": "d2aa21de1eba43db",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "506c81b5ed1aad3c"
            ]
        ]
    },
    {
        "id": "6d0f5ebc4783cc14",
        "type": "ui_gauge",
        "z": "9007e14c5bdddbd1",
        "g": "7034096bc0b125e9",
        "name": "",
        "group": "d2aa21de1eba43db",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "pulsos",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "3062ebd81b8e86a9",
        "type": "change",
        "z": "9007e14c5bdddbd1",
        "g": "7034096bc0b125e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 840,
        "wires": [
            [
                "6d0f5ebc4783cc14"
            ]
        ]
    },
    {
        "id": "506c81b5ed1aad3c",
        "type": "change",
        "z": "9007e14c5bdddbd1",
        "g": "7034096bc0b125e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "ok",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 900,
        "wires": [
            [
                "a14c155d2f05f8e7"
            ]
        ]
    },
    {
        "id": "e1f2e41b2956fc0b",
        "type": "mqtt in",
        "z": "9007e14c5bdddbd1",
        "g": "51bb0170c8339b2f",
        "name": "",
        "topic": "cursomqtt/laybet_MKR_1500/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32b45af9a263ab01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "76c61253af5f5f03"
            ]
        ]
    },
    {
        "id": "57a3896212fc17a8",
        "type": "debug",
        "z": "9007e14c5bdddbd1",
        "g": "51bb0170c8339b2f",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1000,
        "wires": []
    },
    {
        "id": "03c598ab7cb79a4b",
        "type": "influxdb out",
        "z": "9007e14c5bdddbd1",
        "g": "51bb0170c8339b2f",
        "influxdb": "fe8cb7ea3f6ce3ed",
        "name": "",
        "measurement": "laybet",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aprendiendonodered",
        "bucket": "curso 5G",
        "x": 690,
        "y": 1040,
        "wires": []
    },
    {
        "id": "76c61253af5f5f03",
        "type": "change",
        "z": "9007e14c5bdddbd1",
        "g": "51bb0170c8339b2f",
        "name": "Añade Tags",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"value\":$string(payload)},{\"tag\":topic}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "57a3896212fc17a8",
                "03c598ab7cb79a4b"
            ]
        ]
    }
]